[alias]
	lol = log --graph --decorate --pretty=oneline --abbrev-commit --all
[commit]
	gpgsign = true
[user]
	email = kurnevsky@gmail.com
	name = Evgeny Kurnevsky
[push]
	default = simple
[merge]
	conflictstyle = diff3
[core]
    pager = delta
[interactive]
    diffFilter = delta --color-only
[pull]
	ff = only
[gitlab "gitlab.evolutiongaming.com/api/v4"]
	user = ykurneuski
