! XScreensaver

xscreensaver.timeout: 0:10:00
xscreensaver.lock: True
xscreensaver.lockTimeout: 0:02:30
xscreensaver.passwdTimeout: 0:00:30
xscreensaver.visualID: default
xscreensaver.splash: False
xscreensaver.nice: 10
xscreensaver.fade: False
xscreensaver.unfade: False
xscreensaver.dpmsEnabled: True
xscreensaver.dpmsQuickOff: True
xscreensaver.dpmsStandby: 0:15:00
xscreensaver.dpmsSuspend: 0:20:00
xscreensaver.dpmsOff: 0:30:00
xscreensaver.mode: blank
xscreensaver.selected: 206
xscreensaver.pointerHysteresis: 10
xscreensaver.procInterrupts: True
xscreensaver.authWarningSlack: 20

! Colors

! Base16 OneDark
#define base00 #282c34
#define base01 #353b45
#define base02 #3e4451
#define base03 #545862
#define base04 #565c64
#define base05 #abb2bf
#define base06 #b6bdca
#define base07 #c8ccd4
#define base08 #e06c75
#define base09 #d19a66
#define base0A #e5c07b
#define base0B #98c379
#define base0C #56b6c2
#define base0D #61afef
#define base0E #c678dd
#define base0F #be5046

*foreground:   base05
*background:   base00
*cursorColor:  base05

*color0:       base00
*color1:       base08
*color2:       base0B
*color3:       base0A
*color4:       base0D
*color5:       base0E
*color6:       base0C
*color7:       base05

*color8:       base03
*color9:       base09
*color10:      base01
*color11:      base02
*color12:      base04
*color13:      base06
*color14:      base0F
*color15:      base07

! Fonts

Xft.dpi: 96
Xft.antialias: true
Xft.rgba: rgb
Xft.hinting: true
Xft.hintstyle: hintslight

! Xterm

XTerm.termName: xterm-256color
XTerm.vt100.saveLines: 0
XTerm.vt100.reverseVideo: false
XTerm.vt100.faceName: xft:DejaVu Sans Mono:size=12:antialias=true:autohint=false
XTerm.vt100.bellIsUrgent: true
XTerm.vt100.metaSendsEscape: true
! Send C-? instead of C-h for the backspace key
XTerm.ttyModes: erase ^?
XTerm.vt100.translations: #override \
  <Key>BackSpace: string(0x7f)
XTerm.backarrowKeyIsErase: true

! Urxvt

! Set default font
URxvt.font: xft:DejaVu Sans Mono:size=12:antialias=true:autohint=false
! Reduce spacing by one pixel between characters
URxvt.letterSpace: -1
! Add/remove extensions
URxvt.perl-ext: default,url-select,-searchable-scrollback
! Open links with ctrl+mouse_left
URxvt.url-select.button: C-1
! Open links with xdg-open
URxvt.url-select.launcher: /usr/bin/xdg-open
! Underline links
URxvt.url-select.underline: true
! Disable scrollbar
URxvt.scrollBar: false
! Disable glyphs - it increases tmux performance
URxvt.skipBuiltinGlyphs: true
