! XScreensaver

xscreensaver.timeout: 0:10:00
xscreensaver.lock: True
xscreensaver.lockTimeout: 0:02:30
xscreensaver.passwdTimeout: 0:00:30
xscreensaver.visualID: default
xscreensaver.splash: False
xscreensaver.nice: 10
xscreensaver.fade: False
xscreensaver.unfade: False
xscreensaver.dpmsEnabled: True
xscreensaver.dpmsQuickOff: True
xscreensaver.dpmsStandby: 0:15:00
xscreensaver.dpmsSuspend: 0:20:00
xscreensaver.dpmsOff: 0:30:00
xscreensaver.mode: one
xscreensaver.selected: 206
xscreensaver.pointerHysteresis: 10
xscreensaver.procInterrupts: True
xscreensaver.authWarningSlack: 20

! Emacs

Xft.dpi: 96
Xft.antialias: true
Xft.rgba: rgb
Xft.hinting: true
Xft.hintstyle: hintslight

! Urxvt

! Set default font
URxvt.font: xft:DejaVu Sans Mono:pixelsize=13:antialias=true:autohint=false
! Reduce spacing by one pixel between characters
URxvt.letterSpace: -1
! Add extensions.
URxvt.perl-ext: default,url-select
! Open links with ctrl+mouse_left
URxvt.url-select.button: C-1
! Open links with xdg-open
URxvt.url-select.launcher: /usr/bin/xdg-open
! Underline links
URxvt.url-select.underline: true
! Disable scrollbar
URxvt.scrollBar: false
! Background/foreground colors
URxvt.background: #282c34
URxvt.foreground: #abb2bf
! Black colors
URxvt.color0: #282c34
URxvt.color8: #282c34
! Red colors
URxvt.color1: #e06c75
URxvt.color9: #e06c75
! Green colors
URxvt.color2: #98c379
URxvt.color10: #98c379
! Yellow colors
URxvt.color3: #d19a66
URxvt.color11: #d19a66
! Blue colors
URxvt.color4: #61afef
URxvt.color12: #61afef
! Magenta colors
URxvt.color5: #c678dd
URxvt.color13: #c678dd
! Cyan colors
URxvt.color6: #56b6c2
URxvt.color14: #56b6c2
! White colors
URxvt.color7: #abb2bf
URxvt.color15: #abb2bf
