/* Remove close button from tabs */
#tabbrowser-tabs .tabbrowser-tab .tab-close-button {
  display: none !important;
}

menupopup, panel {
  filter: invert(90%) hue-rotate(180deg) !important;
}

browser[type="content"] {
  background: #101010 !important;
}
